
h1{
	color:#3e3c1f;
	font-size: 84pt;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' #c64d39,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #c64d39;

}
body{
	background-image: url(imagen.png); width: 100%;
}
h2{
  color:#e8cfc1;
  font-size: 25pt;
}
h3{
  color:#e8cfc1;
  font-size: 45pt;
}
.page2{
  background-color:#ce6857;
}